@charset "utf-8";
/* CSS Document */
*, body {
	font-family:Verdana;
	color:#666;
	margin:0;
	padding:0;
}
ul, ul li {
	margin:0;
	padding:0;
}
body > #wrap {
	height: auto;
	min-height: 765px;
}
#wrap {
	width:100%;
	margin-bottom: 30px;
}
#header {
	width:1000px;
	margin:0 auto;
}
#logo {
	float:left;
}
#mascote {
	float:right;
}
#menu {
	clear:both;
	background:url('../img/menu-bkg.png') repeat-x;
	height:36px;
}
#menu ul {
	width:1000px;
	margin:0 auto;
}
#menu ul li {
	list-style:none;
	float:left;
	line-height:30px;
	padding:0 15px;
	vertical-align:middle;
}
#menu ul li a, #menu ul li a:visited{
	text-decoration:none;
	color:#916c05;
	font-size: 18px;
}
#menu ul li a:hover{
	text-decoration:none;
	color:#fff;
	font-size: 18px;
}
#content {
	width:1000px;
	margin: 0 auto;
}
#noticias {
	background:url('../img/noticias-bkg.png') no-repeat;
	width:411px;
	height:419px;
	float:left;
}
#videos {
	background:url('../img/videos-bkg.png') no-repeat;
	width:279px;
	height:419px;
	float:left;
	margin-left:15px;
	padding-top:30px;
}
#twitter_newsletter {
	width:279px;
	float:left;
	margin-left:15px;
}
#footer {
	text-align:center;
	height:30px;
	width: 100%;
	margin-top: -30px;
	clear:both;
	background-color:#efc34a;
	color:#fff;
	line-height:30px;
}

#content-interno {
	width:1000px;
	margin: 15px auto;
	padding:15px 0 45px 0;
}
#breadcrumb {
	width:1000px;
	margin:0 auto;
}
#breadcrumb h1 {
	color:#efc34a;
	font-size:24px;
	font-weight:bold;
	margin: 15px 0 0 0;
	padding:0;
}
#breadcrumb span {
	font-size:11px;
	margin-left:2px;
}
#breadcrumb span a, #breadcrumb span a:visited{
	color:#666;
}
#breadcrumb span a:hover {
	color:#efc34a;
}
#video {
	text-align: center;
}

#video-home {
	text-align:center;
	width: 270px;
	margin-top: 15px;
}
#video-home a, #video-home a:visited{
	color:#666;
	font-size:12px;
	line-height: 30px;
}
#video-home a:hover {
	color:#efc34a;
	font-size:12px;
	line-height: 30px;
}
#vejaMais {
	text-align: right;
	padding-right: 25px;
	padding-top: 12px;
}
#vejaMais a, #vejaMais a:visited {
	color:#666;
	font-weight:bold;
}
#vejaMais a:hover {
	color:#efc34a;
	font-weight:bold;
}
.noticiathumb {
	width:90px;
}
.noticiaslista {
	border-collapse:initial;
	border-spacing: 5px;
}
#home_noticia_img {
	width:140px;
	float:left;
	padding:0 5px;
}
#home_noticia_img img {
	width:140px;
	float:left;
}
#home_noticia_tit {
	float:left;
	width:200px;
}
#item_noticia {
	height:85px;
	margin:15px 10px;
}